.GeneralDIV {
  /* margin: 100px 100px 100px 100px; */
  /* border:1px solid #58A6FF; */
  /* padding: 10px 10px 10px 10px; */
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

.header-container,
.body-container,
.footer-container {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: LightYellow;
  /* font-weight: bold; */
}

body {
  font-family: "Arial";
  background-color: #005959;
  text-align: center;
  font-size:  calc(3vw);
}

strong {
  font-size: 1.1em;
}

.beautifully {
  text-shadow: 0 0 2em GreenYellow, 0 0 1em GreenYellow;
  padding: 2em 0.5em 0.2em 0.5em;
  color: LightYellow;
  font-size: 3.5em !important;
  font-weight: bold;
}

.beautifullyDate {
  color: Yellow;
  text-align: center;
  padding: 1em 0.5em 1em 0.5em;
  font-size: 1.8em !important;
}

.beautifullyFooter {
  text-shadow: 0 0 2em GreenYellow, 0 0 1em GreenYellow;
  padding: 0.5em 0.5em 0.2em 0.5em;
  color: LightYellow;
  font-size: 2em !important;
  /* font-weight: bold; */
}

/* TABLES STYLE */

table {
  color: LightYellow;
  text-align: left;
  border-collapse: collapse;
  background-color: #01171c;
  margin: auto;
  width: 96%;
}

table th {
  color: LightYellow;
  font-size: 2.2em;
  text-align: left;
  padding: 0.3em 0.3em 0.3em 0.3em;
  background-color: #004545;
}

table td {
  border: 0.03em solid Moccasin;
  font-size: 2.5em;
  text-align: left;
  color: Moccasin;
  padding: 0.3em 0.3em 0.3em 0.3em;
  border-bottom: 0.03em solid Moccasin;
  background-color: #003333;
}

/* CHEKBOX STYLE */

input[type="checkbox"]+label:before {
  content: "\1f497";
  float: right;
  font-family: FontAwesome;
  font-size: 1em;
}

input[type="checkbox"]:checked+label:before {
  content: "\1f49a";
}

/* BUTTONS STYLE */

.PlayButton {
  display: inline-block;
  height: 1em;
  border-radius: 2em;
  font-size: 1em;
  text-align: center;
  margin: 0.3em 0 0 0;
  padding: 0 0.3em 1em 0.3em;
  color: LightYellow;
  background-color: SeaGreen;
  border: solid 0.05em LightYellow;
  vertical-align: bottom;
}

.menuBTN {
  color: LightYellow;
  background-color: SeaGreen;
  display: inline-block;
  border: 0;
  text-align: right;
  font-size: 2em;
}

.menuBTNHeart {
  color: LightYellow;
  background-color: SeaGreen;
  width: 4em;
  height: 2em;
  border: solid 0.05em LightYellow;
  border-radius: 0.3em;
  font-size: 2em;
}

.btn {
  font-size: 2em;
  width: 4em;
  height: 2em;
  border: solid 0.03em LightYellow;
  border-radius: 0.3em;
  color: LightYellow;
  background-color: red;
}

.btn-group button {
  background-color: SeaGreen;
  border: 0.03em solid LightYellow;
  border-radius: 0.3em;
  /*закругленные углы*/
  color: LightYellow;
  width: 70%;
  align-items: center;
  font-size: 1em;
  text-align: center;
  padding: 0.2em;
  margin: 0 0 0.2em 0;
  /* Расположение от верха, правой стооны, низа и левой стооны */
}

/* END BUTTONS STYLE */

/* NAVBAR  STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: SeaGreen;
  font-weight: normal;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* LOGO */
.logo {
  color: LightYellow;
  font-size: 2.5em;
  margin: auto;
}

.menu {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
  position: absolute;
  /* right: 0;
  left: 0;
  top: 0; */
}

.BISMILLAH {
  display: block;
  color: #c3ccd4;
  text-align: center;
  font-size: 1em;
  font-family: Arial;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 90%;
  margin: auto; 
}

.aButton {
  color: #c3ccd4;
}

@media screen and (min-width: 1081px) { 
  body {font-size: calc(1080px*3/100);}
  /* .BISMILLAH {font-size: 2vw;} */
                                      }
/* @media screen and (max-width: 1080px) { } */